@keyframes blinker {
    100% { opacity: 0; }
}

@keyframes alarm {
    1% { background-color: #ff0000; }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    --width: 22rem;
    --height: 36rem;
    width: var(--width);
    margin: auto;
    background: #383838;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

body.active {
    animation: alarm 1s ease infinite;
}    

.wrapper {
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper > * > * {
    background-image: linear-gradient(top, #383838 0%, #1F1F1F 5%, #161616 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1F1F1F), to(#161616));
    position: relative;
    text-align: center;
}

[data-click],
[data-dblclick] {
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

[data-click]:active,
[data-dblclick]:active {
    box-shadow:  0 0 1px 2px red;
    color: red;
}

[data-click]:not(:active),
[data-dblclick]:not(:active) {
    transition: all 120ms step-end;
}

.lcd,
.led,
.button {
    box-shadow: 0 0 1px 1px #505050;
}

.lcd {
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    color: cyan;
}

.lcd:before {
    position: absolute;
    content: '';
    left: 0.5rem;
    top: 0.5rem;
    text-align: center;
    width: 0.8rem;
    height: 0.8rem;
    background: #282828;
    background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
    border-radius: 50%;
    box-shadow: 0 0 4px #1C1C17;
    transition: all .1s ease;
}

.lcd.stale:before {
    background: #FFBB2F;
    box-shadow: 0 0 4px #1C1C17, 0 0 5px #FFBB42;
}

.lcd.lost:before {
    background: #FF2F2F;
    box-shadow: 0 0 4px #1C1C17, 0 0 5px #FF4242;
}

.lcd pre {
    margin: 0;
    font-size: 2.0rem;
    opacity: 0.6;
}

.button,
.led {
    border-radius: 1rem;
    color: #a0a0a0;
    font: normal 1.3rem arial;
    /*transition: color .1s ease;*/
}

.button {
    width: 5rem;
    height: 3rem;
    padding-top: 0.8rem;
}

.led {
    width: 5rem;
    height: 2.4rem;
    padding-top: 0.45rem;
    padding-left: 1.2rem;
}

.led:before {
    position: absolute;
    content: '';
    left: 0.4rem;
    top: 0.7rem;
    text-align: center;
    width: 1.0rem;
    height: 1.0rem;
    background: #282828;
    background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
    border-radius: 50%;
    box-shadow: 0 0 4px #1C1C17;
    transition: all .1s ease;
}

.led.blink.active:before {
    animation: blinker .4s ease-in-out infinite;
}

.led.red.active:before {
    background: #FF2F2F;
    box-shadow: 0 0 4px #1C1C17, 0 0 5px #FF4242;
}

.led.yellow.active:before {
    background: #FFFF2F;
    box-shadow: 0 0 4px #1C1C17, 0 0 5px #FFFF42;
}

.led.green.active:before {
    background: #4FFF4F;
    box-shadow: 0 0 4px #1C1C17, 0 0 5px #42FF42;
}

.led.blue.active:before {
    background: #4F8FFF;
    box-shadow: 0 0 4px #1C1C17, 0 0 5px #4242FF;
}

#keySet {
    color: green;
}

#keyCancel {
    color: darkred;
}
